.photo-screen__body {
  background-image: url("../backgrounds/bg-purple.png");
}

.photo-screen__title {
  font-size: 25px;
  padding: 0px var(--horizontal-space);
  margin: 15px 0px;
  font-weight: 600;
}

.photo-screen {
  display: flex;
  justify-content: space-between;
}

.photo-screen__object {
  display: flex;
  flex-direction: column;
  transition: all 0.5s ease-in-out;
}
.photo-screen__object > img {
  width: 200px;
  height: 200px;
  border-radius: 10px;
  border: 2px solid black;
  margin-bottom: 15px;
  object-fit: cover;
}

.photo-screen__object span {
  margin-bottom: 15px;
}

.photo-screen__object span > img {
  width: 15px;
  height: 15px;
}

.photo-screen__object:hover {
  transform: translateY(-5px);
  cursor: pointer;
}
.photo-screen__new {
  display: flex;
}
.red__dot {
  background-color: tomato;
  width: 7px;
  height: 7px;
  box-sizing: border-box;
  border-radius: 50%;
  left: 0px;
}

.red__dot__x {
  background-color: inherit;
}
